/*新增分组的弹框--文字提示框*/
/*.el-tooltip__popper.is-light {
  border: 1px solid #20a0ff;
}*/
.el-tooltip__popper.is-light .content {
  min-width:240px;
  max-width:300px;
}
.el-tooltip__popper.is-light .content .title{
  font-size: 16px;
  margin-bottom:10px;
}
.el-tooltip__popper.is-light .content .text{
  font-size: 16px;
  padding:20px 0px;
}
.el-tooltip__popper.is-light .content .group-list{
  max-height: 220px;
  overflow-y: auto;
  margin-bottom: 10px;
}
.el-tooltip__popper.is-light .content .group-list-item{
  display: inline-block;
  width:50%;
  /*height:24px;*/
  /*line-height: 24px;*/
  padding-left:10px;
  box-sizing: border-box;
}
.el-tooltip__popper.is-light .content .input-name{
  margin-bottom:10px;
}
.el-tooltip__popper.is-light .content .operate-btn{
  text-align: right;
}
/*.el-tooltip__popper.is-light .popper__arrow{
  border-bottom-color: #20a0ff !important;
  border-top-color: #20a0ff !important;
}*/

/**
 *el-checkbox
 *单个图片的选择
 */
.item-checked .el-checkbox__label{
  font-size: 12px;
  color: #aaa;
}

/**
 *el-dialog
 *图片详情显示浮层
 */
 .el-dialog__wrapper.media-layer > .el-dialog{
   min-height: 90%;
 }
.el-dialog__wrapper.image-dialog .el-dialog__header,
.el-dialog__wrapper.media-dialog .el-dialog__header {
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  text-align: left;
}


/**
 *el-input,el-textarea
 *图片详情输入框
 */
.el-input .el-input__inner,
.el-textarea .el-textarea__inner {
  color: #666;
}

/**
 *el-upload
 *上传按钮
 */
.el-upload .el-upload__input{
  display: none;
}

/**
 *v-modal
 *浮层背景层
 */
.v-modal{
  z-index: 2000 !important;
}

/**
 *el-popover
 *弹出框
 */
.el-popover.group-name-edit {
  min-width:240px;
  max-width:300px;
}
.el-popover.group-name-edit .title{
  font-size: 16px;
  margin-bottom:10px;
}
.el-popover.group-name-edit .input-name{
  margin-bottom:10px;
}
.el-popover.group-name-edit .operate-btn{
  text-align: right;
}
.media-layer .el-dialog__body{
  position: absolute;
  top: 55px;
  left: 0;
  right: 0;
  bottom: 0px;
}
